@use "../abstracts/index" as *;

.main-slide {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    &::before {
        left: -200px;
        bottom: -200px;
    }

    &::after {
        right: -200px;
        top: -200px;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        width: 100%;
        height: 100%;

        .slide-content {
            width: 100%;
            height: 100%;

            .card-image {
                width: 100%;
                height: 100%;

                picture {
                    width: 100%;
                    height: 100%;
                    display: block;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .slide-progress {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        gap: 10px;
        height: 52px;
        padding: 0 34px 0 38px;
        font-size: 14px;
        z-index: 10;
        background-color: $white;
        border-top-left-radius: 16px;

        .corner {
            overflow: hidden;
            position: absolute;
            width: 34px;
            height: 34px;

            &.corner-left {
                bottom: -2px;
                left: -34px;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transform: rotate(270deg);
                    background-color: $white;
                    clip-path: path("M34 34 L0 34 L0 0 C5 5, -7 40, 34 34");
                }
            }

            &.corner-right {
                top: -33px;
                right: 0;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transform: rotate(270deg);
                    background-color: $white;
                    clip-path: path("M34 34 L0 34 L0 0 C5 5, -7 40, 34 34");
                }
            }
        }

        .current,
        .total {
            min-width: 10px;
            text-align: center;
            @include font-style($font-size-12, $font-weight-regular, 14px);
            color: $black;
        }

        .progress-bar {
            width: 100px;
            height: 3px;
            background: $gray-03;
            position: relative;

            .progress-segment {
                position: absolute;
                top: 0;
                height: 100%;
                background: $gray-03;
                border-radius: 30px;
                transition: background-color 0.3s ease;

                &.active {
                    background: $gray-02;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .slide-progress {
        bottom: 20px;

        .progress-bar {
            width: 120px;
        }
    }
}
