@use "../abstracts/index" as *;

.cart {
    .layout {
        &__header {
            margin-bottom: 19px;
        }
    }

    &__title {
        color: $black;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
    }
}

.table {
    border: 0;

    &__th,
    &__tr {
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        color: $black;
    }

    &__tr {
        display: flex;
        align-items: center;
        @include common-boxShadow-style(
            $border-radius: 4px,
            $box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.05)
        );
    }

    &__td {
        flex-shrink: 0;

        .img {
            &__wrap {
                overflow: hidden;
                width: 115px;
                height: 66px;
                border-radius: 10px;
            }
        }
    }

    .table__checkbox {
        input {
            &[type="checkbox"] {
                &:checked + label .ico--check::after {
                    background-image: svgIcon(checkBox, "003362");
                }
            }
        }
    }

    &__header {
        display: grid;
        grid-template-columns: 141px 348px 284px 221px 1fr;
        align-items: center;
        padding: 24px 36px;
        @include common-boxShadow-style(
            $border-radius: 4px,
            $box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.05)
        );

        .table {
            &__th {
                &:not(:first-child) {
                    text-align: center;
                }

                &:last-child {
                    .btn {
                        margin-left: auto;
                        @include font-style(
                            $font-size-18,
                            $font-weight-bold,
                            30px
                        );
                        color: $black;
                    }
                }
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 40px;

        .table__checkbox {
            input[type="checkbox"] {
                margin-right: 6px;
            }
        }

        .table {
            &__tr {
                display: grid;
                grid-template-columns: 141px 348px 284px 221px 1fr;
                width: 100%;
                padding: 18px 36px;
            }

            &__td {
                &--title {
                    display: block;
                }
            }

            &__td:nth-child(2) {
                padding-left: 95px;
                @include text-ellipsis(2);
                @include font-style($font-size-14, $font-weight-bold, 17px);
            }

            &__td:nth-child(3) {
                padding-left: 95px;
                @include font-style($font-size-16, $font-weight-regular, 22px);
            }

            &__td:nth-child(4) {
                @include font-style($font-size-14, $font-weight-bold, 17px);
                text-align: center;
            }

            &__td:nth-child(5) {
                position: relative;

                .btn {
                    &--delete {
                        display: block;
                        width: 24px;
                        height: 24px;
                        margin-left: auto;
                        font-size: 0;
                        background-image: svgIcon("trash", "7a7a7a");
                        background-repeat: no-repeat;
                        background-size: 100%;
                    }
                }
            }
        }
    }

    &__checkbox {
        display: flex;
        align-items: center;
    }

    .pagination {
        margin-top: 16px;
        justify-content: center;
    }
}

.payment {
    width: 470px;
    margin-top: 37px;
    margin-bottom: 40px;
    margin-left: auto;
    padding: 32px 26px;
    border-radius: 4px;
    border: 2px solid $gray-02;

    &__title {
        color: $black;
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
    }

    &__contents {
        margin-top: 8px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        padding: 16px 0;

        & + .payment__item {
            border-top: 1px solid $gray-02;
        }

        dt {
            color: $black;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }

        dd {
            color: $black;
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;
        }
    }

    .btn {
        margin-top: 8px;
        text-align: center;
    }
}

@media (max-width: 1240px) {
    .cart {
        .layout {
            &__header {
                margin-bottom: 8px;
            }
        }
    }

    .table {
        &__header {
            grid-template-columns: repeat(2, 1fr);
            padding: 37px 25px;
        }

        &__th:not(:first-child, :last-child) {
            display: none;
        }

        &__body {
            margin-top: 0;

            .table {
                &__tr {
                    position: relative;
                    grid-template-columns: 1fr;
                    gap: 16px;
                    padding: 37px 25px;
                    align-items: center;
                }

                &__td:nth-child(2) {
                    padding-left: 28px;
                }

                &__td:nth-child(3) {
                    padding-left: 28px;
                }

                &__td:nth-child(4) {
                    padding-left: 28px;
                    text-align: left;
                }

                &__td:nth-child(5) {
                    position: absolute;
                    top: 37px;
                    right: 25px;
                }
            }
        }
    }

    .payment {
        width: 100%;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
    }
}
