@use "../abstracts/index" as *;

#layout {
    &:has(.exam--intro) {
        background-color: $gray-07;
    }
}

.layout {
    &__container {
        &:has(.exam) {
            max-width: 100%;
        }
    }
}

.exam {
    &--interim {
        padding-bottom: 807px;
    }

    .layout {
        &__header {
            position: relative;
            @include common-boxShadow-style(
                $border-radius: 0,
                $box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.25)
            );

            z-index: 1;
        }
    }

    .header {
        &__top {
            position: relative;
            max-width: 1240px;
            margin: 0 auto;
            padding: 126px 0 16px;

            .layout {
                &__header {
                    &--title {
                        margin-bottom: 7px;
                    }
                }
            }

            .btn {
                &-group {
                    position: absolute;
                    bottom: 48px;
                    right: 0;
                    width: 24px;
                    height: 24px;
                    background-image: svgIcon(close-02, "000");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                }
            }
        }
    }

    .inner {
        max-width: 1240px;
        margin: 0 auto;
        padding: 43px 0 386px;
    }

    .title {
        margin-bottom: 22px;
        @include font-style($font-size-24, $font-weight-semibold, 29px);
        color: $black;
    }

    .notice {
        padding-left: 20px;

        &__list {
            display: flex;
            flex-direction: column;
            gap: 16px;
            list-style: decimal;

            li {
                @include font-style($font-size-18, $font-weight-regular, 24px);
                color: $black;
                font-family: $font-family-body;

                strong {
                    font-weight: $font-weight-regular;
                }
            }
        }

        & + .checkbox {
            margin-top: 100px;
        }

        &__title--sub {
            display: block;
            margin-top: 32px;
            margin-left: -20px;
            @include font-style($font-size-18, $font-weight-regular, 24px);
            color: $black;
        }

        &__text--sub {
            margin-left: -20px;
            margin-bottom: 16px;
            @include font-style($font-size-18, $font-weight-regular, 24px);
            color: $black;
        }

        &--body {
            background-color: $gray-07;

            .inner {
                padding: 45px 0 35px;
            }
        }
    }

    .checkbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .btn {
        &-group {
            justify-content: center;
            margin-top: 40px;
        }

        &.btn.bd-radius--circle.size--s {
            @include font-style($font-size-20, $font-weight-bold, 30px);
            padding: 12px 20px;
        }
    }
}

#form--interimExam {
    display: grid;
    grid-template-columns: 254px 1fr;
    gap: 43px;

    .btn {
        &-group {
            grid-column: span 2;
            justify-content: flex-end;

            &:last-child {
                margin-top: 80px;
            }
        }
    }
}

.answer {
    align-self: flex-start;
    width: 254px;
    margin-bottom: 30px;
    padding: 20px 10px 16px;
    border: 1px solid #ededed;
    border-radius: 8px;

    .title {
        margin-bottom: 14px;
        @include font-style($font-size-18, $font-weight-semibold, 24px);
        color: $black;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: flex;
            justify-content: space-between;
            padding: 8px 16px;
            background-color: $gray-07;
            border-radius: 4px;

            span {
                @include font-style($font-size-18, $font-weight-regular, 24px);
                color: $black;
            }

            &.is-done {
                background-color: $yellow-01;

                span {
                    @include font-style(
                        $font-size-18,
                        $font-weight-semibold,
                        24px
                    );
                    color: $red-01;
                }
            }
        }
    }
}

.question {
    display: flex;
    flex-direction: column;
    gap: 56px;

    &--sub {
        @include font-style($font-size-18, $font-weight-regular, 25px);
        color: $black;
    }

    &--title {
        margin-bottom: 40px;
        @include font-style($font-size-30, $font-weight-bold, 36px);
        color: $black;
    }

    &-header {
        margin-bottom: 11px;
    }
}

.option {
    &-item {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 5px 6px;
        border: 1px solid #ededed;
        border-radius: 4px;
        cursor: pointer;

        & + .option-item {
            margin-top: 8px;
        }
    }

    &-selected {
        border: 2px solid $red-01;
    }

    &-number {
        flex-shrink: 0;
        align-self: flex-start;
        padding: 10px;
        @include font-style($font-size-18, $font-weight-regular, 24px);
        color: $black;
        text-align: center;
        background-color: #ededed;
        border-radius: 4px;

        .option-selected & {
            background-color: $red-01;
            color: $white;
        }
    }

    &-text {
        padding: 10px 0;
        @include font-style($font-size-18, $font-weight-regular, 24px);
    }
}

@media (max-width: 1024px) {
    .exam {
        &--interim {
            padding-bottom: 744px;
        }

        .layout {
            &__header {
                padding: 0 16px;

                &--title {
                    margin-top: 0;
                }

                &--sub {
                    line-height: 18px;
                }
            }
        }

        .inner {
            padding: 30px 16px 0;
        }

        .header {
            &__top {
                padding-top: 43px;

                .btn {
                    &-group {
                        bottom: 65px;
                    }
                }
            }
        }

        .notice {
            &--body {
                .inner {
                    padding: 28px 16px 25px;
                }
            }
        }
    }

    #form--interimExam {
        grid-template-columns: 1fr;
        gap: 16px;

        .btn {
            &-group {
                margin-top: 24px;
            }
        }

        .answer {
            display: none;
        }

        .question {
            &-container {
                grid-column: 1;
            }
        }
    }

    .question {
        &--title {
            font-size: #{$font-size-24}px;
            line-height: 29px;
        }
    }

    .option {
        &-item {
            padding: 5px 6px 8px;
            margin-bottom: 8px;
        }

        &-number {
            padding: 8px 12px;
            min-width: 40px;
        }

        &-text {
            padding: 0;
            @include font-style($font-size-14, $font-weight-regular, 20px);
        }
    }
}
