@use "../abstracts/index" as *;

.join {
    margin-top: 60px;
    padding: 0 17px;

    .ci {
        margin-top: 88px;

        &__title {
            @include font-style($font-size-30, $font-weight-bold, 36px);
            color: $black;
        }

        &__content {
            margin-top: 9px;
        }
    }

    .process {
        position: relative;
        width: 293px;
        height: 62px;
        margin-left: auto;
        padding: 0 38px;

        &::before {
            content: "";
            position: absolute;
            top: 6px;
            left: 38px;
            width: calc(100% - 76px);
            height: 6px;
            background-color: $gray-02;
        }

        &__item {
            position: absolute;
            left: 50%;
            padding-top: 24px;

            &:before {
                content: "";
                position: absolute;
                top: 3px;
                left: 0;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: $gray-02;
            }

            &.is-active {
                strong {
                    color: $black;
                }

                &:before {
                    content: "";
                    top: -3px;
                    width: 24px;
                    height: 24px;
                    background-color: transparent;
                    background-image: svgIcon("process", "E00");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }

            &.is-done {
                &:before {
                    top: -3px;
                    left: -12px;
                    width: 24px;
                    height: 24px;
                    background-image: svgIcon("check", "E00");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: transparent;
                    z-index: 1;
                }
            }

            &.is-active {
                &:before {
                    left: -12px;
                }
            }

            &.is-done {
                &:after {
                    content: "";
                    position: absolute;
                    top: 6px;
                    left: 0;
                    height: 6px;
                    background-color: $red-01;
                }
            }

            &:first-child {
                width: calc(50% - 38px);
                left: 38px;

                &.is-done {
                    &:after {
                        width: 100%;
                    }
                }
            }

            &:nth-child(2) {
                width: calc(50% - 38px);

                &.is-done {
                    &:after {
                        width: 100%;
                    }
                }
            }

            &:last-child {
                left: auto;
                right: 38px;
                margin-right: -24px;
            }

            strong {
                display: block;
                margin-left: -20px;
                @include font-style($font-size-14, $font-weight-regular, 17px);
                color: $gray-02;
            }
        }
    }

    .agree {
        display: flex;
        justify-content: flex-end;
    }

    .layout {
        &__header {
            &--title {
                @include font-style($font-size-30, $font-weight-bold, 36px);
                color: $black;
            }

            & + .complete {
                margin-top: 59px;
            }
        }
    }
}

@media (max-width: 768px) {
    .join {
        .layout {
            &__header {
                & + .layout__body:has(.terms) {
                    margin-top: 59px;
                }

                & + .layout__body:has(.userInfo) {
                    margin-top: 71px;
                }

                &--title {
                    margin-bottom: 28px;
                }
            }
        }

        .ci {
            margin-top: 16px;

            .btn {
                width: 100%;

                &-group {
                    flex-direction: column;
                }
            }
        }

        .process {
            margin: 0 auto;
        }
    }
}
