@use "../abstracts/index" as *;

.search {
    &__bar {
        margin: 0 auto 43px;
    }

    &__input {
        &--box {
            overflow: hidden;
            width: 428px;
            height: 38px;
            border-radius: 4px;
            border: 1px solid $gray-02;
            background: $white;

            input {
                display: block;
                width: 100%;
                height: 100%;
                padding: 8px 13px;
                font-size: 16px;
                color: $black;

                &::placeholder {
                    color: $gray-02;
                }
            }
        }
    }
}

#search {
    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9px;
    }
}

.sorting {
    &__menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0 auto;

        .btn {
            display: block;
            margin: 0;
            padding: 0 16px;
            flex-shrink: 0;
            font-size: 18px;
            font-weight: 600;
            line-height: 24px;
            color: $gray-01;

            + .btn {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: -1px;
                    transform: translateY(-50%);
                    width: 2px;
                    height: 16px;
                    background-color: $gray-01;
                }
            }

            &.is-active,
            &:hover {
                color: $red-01;
            }
        }
    }
}

.thumbnail {
    &--lg {
        aspect-ratio: 16 / 9; /* 부모의 비율 지정 */
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        width: 100%;
        max-width: 606px;
        height: 341px;
        background-color: $gray-01; /* 이미지 없을 때 기본 배경 */
        border-radius: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain; /* 이미지 비율 유지하며 부모 안에 맞춤 */
            position: absolute;
        }
    }

    &--sm {
        display: flex;
        justify-content: center;
        gap: 17px;
        padding: 0;
        list-style: none;

        li {
            overflow: hidden;
            width: 191px;
            height: 108px;
            border-radius: 10px;
        }

        img {
            object-fit: cover;
            cursor: pointer;
            border: 2px solid transparent;
            transition: border-color 0.3s;
        }
    }
}

.intro {
    &__header {
        position: relative;
        margin-top: 60px;
        margin-bottom: 30px;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $gray-02;
        }
    }

    &__title {
        position: relative;
        width: 633px;
        padding: 18px 0;
        text-align: center;
        color: $black;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;

        &::before {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: $red-01;
        }
    }

    &__notice {
        margin-bottom: 102px;

        .notice {
            &__title {
                display: block;
                padding: 25px 0 21px 96px;
                color: $black;
                font-size: 24px;
                font-weight: 600;
                line-height: 29px;
                border-radius: 4px;
                background-color: $gray-01;
                background-image: svgIcon("notice");
                background-repeat: no-repeat;
                background-position: left 38px center;
            }

            &__desc {
                padding: 16px 0 0 96px;
                color: $black;
                font-size: 18px;
                font-weight: 600;
                line-height: 24px;

                strong {
                    font-weight: 600;
                }

                ul {
                    margin-top: 28px;
                }
            }
        }
    }

    &__item {
        min-height: 460px;

        .item {
            &__title {
                padding: 21px 0 21px 17px;
                color: $black;
                font-size: 30px;
                font-weight: 700;
                line-height: 36px;
                border-bottom: 1px solid $gray-02;
            }

            &__contents {
                padding: 21px 0 21px 17px;
            }
        }
    }
}

.lecture {
    padding-bottom: 182px;

    .layout {
        &__header {
            .depth {
                justify-content: flex-end;
            }

            &--title {
                margin: 20px 0;
                @include font-style($font-size-30, $font-weight-bold, 36px);
                color: $black;
            }
        }

        &__body {
            .search__bar {
                .btn {
                    &-group {
                        position: relative;
                    }

                    &.pc-only {
                        display: inline-block;
                        width: 112px;
                    }

                    &.mobile-only {
                        display: none;

                        &.btn--search {
                            position: absolute;
                            top: 50%;
                            right: 6px;
                            transform: translateY(-50%);
                            width: 38px;
                            height: 38px;
                            border-radius: 50%;
                            background-image: svgIcon("search", "000");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 20px;
                        }
                    }
                }
            }
        }

        &__contents {
            display: flex;
            gap: 15px;
            flex-wrap: wrap;
            justify-content: center;
            margin: 10px auto 0;
        }
    }

    &-detail {
        .header__top {
            margin-bottom: 75px;

            .depth {
                margin-left: auto;
            }
        }

        .layout {
            &__header {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 58px;
                margin: 0 auto;
            }
        }

        &--title {
            margin-top: 12px;
            color: $black;
            font-size: 36px;
            font-weight: 700;
            line-height: 46px;
        }

        &--desc {
            margin-top: 13px;
            color: $black;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
        }

        &--thumbnail {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }

        .btn {
            &--play {
                display: block;
                background-image: svgIcon("floating_play", "fff");
                background-repeat: no-repeat;
                background-size: 60px 60px;
                background-position: center;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
        }
    }

    &__info {
        &--title {
            @include font-style($font-size-36, $font-weight-bold, 43px);
            color: $black;
        }
    }

    &__cost {
        margin-top: 11px;

        .cost {
            &__item {
                position: relative;
                display: flex;
                justify-content: space-between;

                &:first-child {
                    padding: 28px 0 33px;
                    border-top: 1px solid $gray-02;
                }

                &:nth-child(2) {
                    padding: 16px 0;
                    border-top: 1px solid $gray-02;
                    border-bottom: 1px solid $gray-02;

                    dd {
                        position: relative;
                        width: calc(100% - 104px);
                    }

                    .cost {
                        &__btn--select {
                            width: 100%;
                        }

                        &__list {
                            width: 100%;
                            top: 100%;
                        }
                    }
                }

                &:nth-child(3) {
                    padding: 63px 0 0;
                }

                &:nth-last-child(2),
                &:nth-last-child(3) {
                    dt {
                        color: $gray-02;
                        font-size: 1.125rem;
                    }

                    dd {
                        font-size: 1.25rem;
                    }
                }

                &:last-child {
                    margin-top: 22px;
                    padding: 16px 0 40px;
                    font-size: 1.5rem;
                    border-top: 1px solid $black;
                }

                dt {
                    color: $black;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 24px;
                }

                dd {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    color: $black;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 29px;
                }

                .radio {
                    display: block;

                    &__label {
                        width: 583px;
                    }

                    .inner__label {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;

                        .label {
                            display: block;
                            max-width: 336px;
                            color: $gray-02;
                        }

                        .price {
                            flex-shrink: 0;
                        }
                    }
                }
            }

            &__btn--select {
                position: relative;
                display: block;
                width: 170px;
                padding: 6px 30px 6px 16px;
                text-align: right;
                color: $gray-02;
                font-size: 14px;
                font-weight: 400;
                line-height: 19px;
                border-radius: 4px;
                border: 1px solid $gray-02;
                background-color: $white;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                    width: 16px;
                    height: 16px;
                    background-image: svgIcon("arrowDown", "c2c2c2");
                    background-repeat: no-repeat;
                    background-size: 100%;
                }

                &[aria-expanded="true"]::before {
                    transform: translateY(-50%) rotate(180deg);
                }
            }

            &__list {
                display: none;
                list-style: none;
                position: absolute;
                width: 170px;
                background-color: $white;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                border: 1px solid $gray-02;
                border-top: transparent;
                z-index: 1;

                &[aria-expanded="true"] {
                    display: block;
                }

                li {
                    padding: 6px 22px 6px 16px;
                    text-align: right;
                    color: $gray-01;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 19px;
                    cursor: pointer;

                    &:hover {
                        background-color: #f7f6f6;
                    }
                }
            }
        }

        .btn {
            height: 46px;

            &-group {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                row-gap: 8px;
            }

            &:last-child {
                grid-column: 1 / 3;
            }
        }
    }

    &__body {
        margin: 71px auto 0;
    }

    .card {
        height: 549px;

        .badge {
            &__item {
                background-color: $navy-01;
            }
        }

        &__title {
            font-size: 18px;
            line-height: 24px;
            @include text-ellipsis();
        }

        &__contents {
            margin-top: 7px;
        }

        &__detail {
            display: inline-block;

            dt,
            dd {
                display: inline-block;
                width: auto;
                font-size: 16px;
                line-height: 22px;
                color: $gray-01;
                font-weight: 400;
            }

            &--cost {
                margin-top: 35px;

                dt {
                    margin-right: 20px;
                    color: $black;
                }

                dd {
                    font-size: 18px;
                    line-height: 24px;
                    color: $navy-01;
                    font-weight: 600;
                }
            }
        }
    }

    .pagination {
        justify-content: center;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    #search__form {
        width: 100%;

        .btn-group {
            flex-shrink: 0;
        }
    }

    .thumbnail {
        &--lg {
            height: auto;
            max-width: 100%;
        }
    }

    .intro {
        &__title {
            width: 50%;
        }
    }

    .lecture {
        padding: 0 16px;

        &-detail {
            padding: 0 16px;

            .layout {
                &__header {
                    grid-template-columns: 1fr;
                    gap: 24px;
                }
            }
        }

        &__info {
            &--title {
                @include font-style($font-size-24, $font-weight-bold, 28px);
            }
        }

        .layout {
            &__contents {
                flex-direction: column;
                align-items: center;
                padding: 0 16px;
            }

            &__body {
                .search__bar {
                    margin-top: 8px;
                    margin-bottom: 32px;

                    .search__input--box {
                        width: 100%;

                        input {
                            padding-right: 37px;
                        }
                    }

                    .btn {
                        &.pc-only {
                            display: none;
                        }

                        &.mobile-only {
                            display: inline-block;
                        }
                    }
                }
            }
        }

        .card {
            width: 100%;
        }

        &__cost {
            .cost {
                &__item {
                    .radio {
                        &__label {
                            width: 354px;
                        }

                        .inner__label {
                            .label {
                                max-width: 175px;
                            }
                        }
                    }

                    &:nth-child(2) {
                        align-items: center;

                        dd {
                            width: calc(100% - 79px);
                        }
                    }
                }

                &__btn--select {
                    width: 100%;
                }

                &__list {
                    width: 100%;
                }
            }

            .btn {
                &-group {
                    grid-template-columns: 1fr 1fr;
                    column-gap: 8px;
                }
            }
        }
    }
}
