@use "../abstracts/index" as *;

.request-list {
    .btn-group {
        justify-content: flex-end;

        & + .list {
            margin-top: 16px;
        }
    }

    .pagination {
        justify-content: center;
        margin-top: 20px;
    }
}

.request-detail {
    .btn-group {
        justify-content: flex-end;
        margin-top: 41px;
    }

    .list-detail {
        margin-top: 17px;
        padding-top: 16px;
        border-top: 2px solid $gray-07;
    }
}

@media (max-width: 1024px) {
    .request-list {
        padding: 0 16px;
    }

    .request-detail {
        padding: 0 16px;

        .btn-group {
            margin-top: 32px;
        }

        .list-detail {
            margin-top: 8px;
        }
    }
}

@media (max-width: 768px) {
    .request-list {
        .layout__header {
            &--title {
                margin-bottom: 5px;
            }
        }
    }
}
