@use "../abstracts/index" as *;

// 회원가입 약관동의
.signUp {
    margin-top: 60px;
    padding: 0 17px;

    &__title {
        @include font-style($font-size-30, $font-weight-bold, 36px);
        color: $black;
    }

    .ci {
        margin-top: 88px;

        &__title {
            @include font-style($font-size-30, $font-weight-bold, 36px);
            color: $black;
        }

        &__content {
            margin-top: 9px;
        }
    }

    .agree {
        display: flex;
        justify-content: flex-end;

        &--all {
            justify-content: space-between;
            gap: 9px;
        }
    }

    &__container {
        width: 100%;
        height: 100%;

        // 회원 가입 완료
        &--complete {
            .signUp {
                &__content {
                    &-item {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 18px;
                        padding-top: 140px;
                        background-image: svgIcon("completeCheck", "0D3050");
                        background-size: 140px 140px;
                        background-repeat: no-repeat;
                        background-position: top center;

                        strong {
                            @include font-style(
                                $font-size-24,
                                $font-weight-bold,
                                29px
                            );
                            color: $black;
                        }

                        p {
                            @include font-style(
                                $font-size-20,
                                $font-weight-regular,
                                24px
                            );
                            color: $black;
                            text-align: center;
                        }
                    }
                }

                &__footer {
                    margin: 40px 0 191px;
                }
            }
        }
    }

    &__header {
        .process {
            position: relative;
            width: 293px;
            height: 62px;
            margin-left: auto;
            padding: 0 38px;

            &::before {
                content: "";
                position: absolute;
                top: 6px;
                left: 38px;
                width: calc(100% - 76px);
                height: 6px;
                background-color: $gray-02;
            }

            &__item {
                position: absolute;
                left: 50%;
                padding-top: 24px;

                &:before {
                    content: "";
                    position: absolute;
                    top: 3px;
                    left: 0;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: $gray-02;
                }

                &.is-active {
                    strong {
                        color: $black;
                    }

                    &:before {
                        content: "";
                        top: -3px;
                        width: 24px;
                        height: 24px;
                        background-color: transparent;
                        background-image: svgIcon("process", "E00");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }

                &.is-done {
                    &:before {
                        top: -3px;
                        left: -12px;
                        width: 24px;
                        height: 24px;
                        background-image: svgIcon("check", "E00");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-color: transparent;
                        z-index: 1;
                    }
                }

                &.is-active {
                    &:before {
                        left: -12px;
                    }
                }

                &.is-done {
                    &:after {
                        content: "";
                        position: absolute;
                        top: 6px;
                        left: 0;
                        height: 6px;
                        background-color: $red-01;
                    }
                }

                &:first-child {
                    width: calc(50% - 38px);
                    left: 38px;

                    &.is-done {
                        &:after {
                            width: 100%;
                        }
                    }
                }

                &:nth-child(2) {
                    width: calc(50% - 38px);

                    &.is-done {
                        &:after {
                            width: 100%;
                        }
                    }
                }

                &:last-child {
                    left: auto;
                    right: 38px;
                    margin-right: -24px;
                }

                strong {
                    display: block;
                    margin-left: -20px;
                    @include font-style(
                        $font-size-14,
                        $font-weight-regular,
                        17px
                    );
                    color: $gray-02;
                }
            }
        }
    }

    &__content {
        &-title {
            @include font-style($font-size-24, $font-weight-bold, 29px);
            color: $black;
            margin-bottom: 50px;
        }

        &-item {
            &-title {
                @include font-style($font-size-20, $font-weight-regular, 24px);
                color: $black;
            }

            &-text {
                overflow-y: scroll;
                margin: 20px 0 18px;
                padding: 0 12px;
                height: 236px;
                border: 1px solid $gray-02;
            }
        }
    }

    &__footer {
        margin: 80px 0 191px;
        .btn {
            &-group {
                justify-content: center;
                gap: 9px;
            }

            &:first-child {
                width: 112px;
                height: 54px;
            }

            &:last-child {
                width: 209px;
                height: 54px;
            }
        }
    }
}

@media (max-width: 768px) {
    .signUp {
        &__header {
            .process {
                margin: 28px auto 59px;
            }
        }

        &__container {
            &--complete {
                .signUp {
                    &__header {
                        .process {
                            margin-bottom: 98px;
                        }
                    }
                }
            }
        }

        .ci {
            &__content {
                margin-top: 16px;
            }

            .btn {
                width: 100%;

                &-group {
                    flex-direction: column;
                }

                &.ico {
                    &--phone,
                    &--lock {
                        span {
                            &::before {
                                left: -8px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// 회원가입 정보입력
.userInfo {
    &__content {
        max-width: 561px;

        &-item {
            & + & {
                margin-top: 40px;
            }

            &:nth-last-child(2) {
                display: flex;
                gap: 126px;
            }

            &:last-child {
                display: flex;
                gap: 84px;
            }

            .radio__toggle-wrap {
                display: flex;
                gap: 20px;
            }
        }

        .inputGroup {
            width: auto;
        }

        #input {
            &--userId {
                width: 168px;
            }

            &--userName {
                position: relative;
                display: inline-block;
                padding-left: 19px;
                @include font-style($font-size-18, $font-weight-regular, 25px);
                color: rgba(0, 0, 0, 0.5);

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 5px;
                    height: 38px;
                    background-color: $gray-02;
                }
            }

            &--phone {
                .input {
                    &:first-child {
                        width: 59px;
                    }

                    &:not(:first-child) {
                        width: 73px;
                    }
                }
            }

            &--email {
                width: 375px;
            }

            &--address {
                .btn {
                    &-group {
                        gap: 8px;

                        .input {
                            width: 168px;
                        }
                    }
                }

                .input {
                    width: 376px;
                }
            }
        }

        .input {
            &--radio-toggle {
                &label {
                    @include font-style(
                        $font-size-18,
                        $font-weight-regular,
                        25px
                    );
                    color: $black;
                }
            }
        }
    }

    &__footer {
        margin: 80px 0 191px;

        .btn {
            &-group {
                justify-content: center;
            }
        }
    }
}

@media (max-width: 768px) {
    .userInfo {
        &__content {
            &-item {
                &:nth-last-child(2) {
                    flex-direction: column;
                    gap: 16px;
                }

                &:last-child {
                    flex-direction: column;
                    gap: 16px;
                }
            }

            .inputGroup {
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;

                .input {
                    width: 100%;
                }
            }

            #input {
                &--email {
                    width: 100%;
                }

                &--address {
                    .input {
                        width: 100%;
                    }
                }
            }
        }
    }
}
