// fonts
$font-family-title: "Pretendard", sans-serif;
$font-family-body: "Noto Sans KR", sans-serif;

$font-size-base: 1rem;
$font-weight-base: 400;
$line-height-base: 1.5;
$letter-spacing-base: -0.02em;

// font-size
$font-size-12: 12;
$font-size-14: 14;
$font-size-16: 16;
$font-size-18: 18;
$font-size-20: 20;
$font-size-24: 24;
$font-size-30: 30;
$font-size-36: 36;

// font-weight
$font-weight-thin: 200;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// colors
$black: #000;
$white: #fff;
$yellow-01: #fffaf0;
$yellow-02: #fdb515;
$red-01: #ee0000;
$red-02: #ec4741;
$red-03: #d32f2f;
$navy-01: #0d3050;
$navy-02: #165997;
$blue-01: #b2c9df;
$blue-02: #7195b5;
$blue-05: #007bc8;
$blue-06: #0091ea;
$gray-01: #7a7a7a;
$gray-02: #c2c2c2;
$gray-03: #eae8e8;
$gray-04: #cdcdcd;
$gray-05: #aeaeae;
$gray-06: #b4b4b4;
$green-01: #4caf50;
