@use "../abstracts/index" as *;

.faq {
    &__title {
        &-btn {
            display: block;
            width: 100%;
            padding: 7px 6px 8px;
            @include font-style($font-size-18, $font-weight-regular, 25px);
            color: $black;
            text-align: left;
        }

        strong {
            color: $red-01;
            font-weight: 400;
        }
    }

    &__item {
        position: relative;
        border-bottom: 1px solid $gray-07;

        &:before {
            content: "";
            position: absolute;
            top: 12px;
            right: 10px;
            width: 16px;
            height: 16px;
            background-image: svgIcon(arrowDown, "7a7a7a");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        &.is-active {
            &:before {
                transform: rotate(180deg);
            }

            .faq__content {
                display: block;
                min-height: 90px;
            }
        }

        &:last-child {
            border-bottom: 1px solid $gray-02;
        }
    }

    &__content {
        display: none;
        padding: 12px 20px;
        background-color: #f7f6f6;

        pre {
            @include font-style($font-size-16, $font-weight-regular, 24px);
            font-family: $font-family-title;
            color: #7c7c7c;
        }
    }

    .category {
        & + .faq__contents {
            margin-top: 28px;
        }

        &__title {
            @include font-style($font-size-20, $font-weight-bold, 27px);
            color: $black;
        }

        &__list {
            display: flex;
            gap: 8px;

            &--wrap {
                margin-top: 8px;
            }
        }

        &__item {
            &.is-active {
                .category__link {
                    color: $navy-01;
                    border-color: $navy-01;
                }
            }
        }

        &__link {
            display: block;
            padding: 3px 18px;
            border-radius: 50px;
            border: 1px solid $gray-02;
            @include font-style($font-size-16, $font-weight-bold, 30px);
        }
    }
}

@media (max-width: 1024px) {
    .faq {
        .category {
            position: relative;

            &__link {
                color: $gray-02;
            }

            &__list {
                overflow-x: auto;
                width: 100%;
                height: 100%;
                padding: 0 16px;
                -ms-overflow-style: none;

                &::-webkit-scrollbar {
                    display: none;
                }

                &--wrap {
                    position: relative;
                    height: 40px;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 20px;
                        height: 100%;
                        background: linear-gradient(
                            to right,
                            rgba(255, 255, 255, 1) 40%,
                            rgba(255, 255, 255, 0) 100%
                        );
                        z-index: 1;
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 20px;
                        height: 100%;
                        background: linear-gradient(
                            to left,
                            rgba(255, 255, 255, 1) 30%,
                            rgba(255, 255, 255, 0) 100%
                        );
                        z-index: 1;
                    }
                }
            }

            &__item {
                flex-shrink: 0;

                &.is-active {
                    .category__link {
                        color: $white;
                        background-color: $navy-01;
                    }
                }
            }
        }
    }
}
