@use "../abstracts/index" as *;

.header {
    position: relative;
    padding-top: 44px;
    height: 151px;
    z-index: 99999;
    display: none;
}

.gnb {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width: 1240px;
    margin: 0 auto;

    h1 {
        width: 95px;
        height: 45px;
    }

    .top-menu {
        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 38px;
            width: 100%;
            height: 100%;
        }

        &__link {
            display: block;
            @include font-style($font-size-14, $font-weight-bold);
            color: $black;

            &.is-active {
                color: $navy-01;
            }
        }
    }

    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;

        &__list {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 5rem;
            width: 100%;
            height: 100%;
        }
    }

    &-menu {
        margin-top: 7px;

        &__list {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        &__item {
            position: relative;
            width: 78px;
            text-align: center;

            &:hover {
                .gnb-sub {
                    display: block;
                }
            }

            & + & {
                margin-left: 5rem;
            }

            &.cart {
                width: 1.5rem;
                height: 1.5rem;
                margin-left: 2rem;

                .gnb-menu__link {
                    width: 100%;
                    height: 100%;
                    background-image: svgIcon(cart, "EE0000");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }

        &__link {
            display: block;
            height: 24px;
            @include font-style($font-size-18, $font-weight-semibold, 1.5rem);
            color: $black;
        }
    }

    &-sub {
        display: none;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 134px;
        padding-top: 18px;

        &__list {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 16px;
            height: 100%;
            padding: 22px 14px;
            background-color: $white;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            box-shadow: 2px 8px 4px 0 rgba(0, 0, 0, 0.25);

            &:before {
                content: "";
                position: absolute;
                top: -2px;
                left: 50%;
                transform: translateX(-50%);
                width: 104px;
                height: 4px;
                background-color: $red-01;
            }
        }

        &__link {
            display: block;
            height: 19px;
            @include font-style($font-size-14, $font-weight-bold, 1.188rem);
            color: $gray-01;
        }
    }
}

@media (max-width: 768px) {
    .m {
        &-header {
            height: 51px;
            margin-bottom: 17px;
            padding: 0 16px;
        }

        &-nav {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 6px;
            height: 100%;

            .fixed-menu {
                &__logo {
                    width: 59px;
                    height: 28px;
                }

                &__cart {
                    margin-left: auto;
                }

                &__btn {
                    width: 24px;
                    height: 24px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    vertical-align: middle;

                    &.menu {
                        background-image: svgIcon(menu, "000");
                    }

                    &.cart {
                        background-image: svgIcon(cart, "EE0000");
                    }
                }
            }
        }

        &-gnb {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &.is-active {
                display: block;
                z-index: 9999;
                background-color: #fff;
            }

            .btn {
                &-group {
                    padding: 13px;
                }

                &--close {
                    display: block;
                    width: 24px;
                    height: 24px;
                    margin-left: auto;
                    background-image: svgIcon(close, "000");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }

            .link {
                &__wrap {
                    padding: 0 21px 35px;
                }

                &__login {
                    display: block;
                    @include font-style(
                        $font-size-18,
                        $font-weight-semibold,
                        1.5rem
                    );
                    color: $black;
                }
            }

            &-menu {
                margin-bottom: 45px;

                &__list {
                    display: flex;
                    flex-direction: column;
                }

                &__item {
                    width: 100%;

                    & + .m-gnb-menu__item {
                        margin-left: 0;
                    }

                    &.is-active {
                        .m-gnb-menu__link {
                            color: $white;
                            background-color: $red-01;
                            border-radius: 10px;

                            &:before {
                                transform: translateY(-50%) rotate(180deg);
                                background-image: svgIcon(arrowDown, "fff");
                            }
                        }

                        .m-gnb-sub {
                            display: block;
                        }
                    }
                }

                &__link {
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 35px;
                    padding: 8px 16px 8px 32px;
                    line-height: 1;
                    text-align: left;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: 16px;
                        transform: translateY(-50%);
                        width: 16px;
                        height: 16px;
                        background-image: svgIcon(arrowDown, "000");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }

            &-sub {
                display: none;
                overflow: hidden;
                transition: all 0.3s ease;

                &__item {
                    &.is-active {
                        .m-gnb-sub__link {
                            color: $red-01;
                            font-weight: $font-weight-bold;
                        }
                    }
                }

                &__link {
                    display: block;
                    width: 100%;
                    height: 35px;
                    padding: 8px 48px;
                    @include font-style(
                        $font-size-14,
                        $font-weight-regular,
                        17px
                    );
                    color: $black;
                    text-align: left;
                }

                &__list {
                    padding: 0;
                    opacity: 0;
                    transform: translateY(-10px);
                    transition: all 0.3s ease;
                }
            }
        }

        &-contact {
            padding-top: 26px;
            border-top: 9px solid $gray-07;

            &__list {
                display: flex;
                flex-direction: column;
            }

            &__link {
                display: block;
                width: 100%;
                height: 35px;
                padding: 8px 48px;
                @include font-style($font-size-14, $font-weight-regular, 20px);
                color: $gray-05;
            }
        }
    }
}

.m-gnb-menu__item.is-active {
    .m-gnb-sub {
        display: block;

        &__list {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
