@use "../abstracts/index" as *;

.table-list {
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 15px 8px 20px;
        border-bottom: 1px solid $gray-07;

        &:last-child {
            border-bottom-color: $gray-02;
        }

        .item {
            @include font-style($font-size-18, $font-weight-regular, 25px);
            color: $black;
            flex-shrink: 0;

            &--no {
                width: 64px;
                text-align: center;
            }

            &--title {
                width: 800px;
                padding: 0 10px;
            }

            &--writer {
                width: 100px;
                text-align: center;
                color: $gray-02;
            }

            &--date {
                width: 130px;
                text-align: center;
                color: $gray-02;
            }
        }

        &--header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px 15px 8px 20px;
            background-color: $gray-07;

            .item {
                &--title {
                    text-align: center;
                }

                &--writer {
                    color: $black;
                }

                &--date {
                    color: $black;
                }
            }
        }
    }
}

.list {
    border-top: 2px solid $gray-07;
    border-bottom: 2px solid $gray-07;

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 24px 133px 14px 0;

        & + .list__item {
            border-top: 1px solid $gray-07;
        }

        .item {
            &--state {
                position: absolute;
                top: 24px;
                right: 0;
                @include font-style($font-size-18, $font-weight-semibold, 24px);
                color: $yellow-02;
            }

            &--title {
                @include font-style($font-size-18, $font-weight-semibold, 24px);
                color: $black;
                @include text-ellipsis(1);
            }
        }

        .info-box {
            display: flex;
            gap: 8px;
            margin-top: 10px;

            .item {
                @include font-style($font-size-14, $font-weight-regular, 19px);
                color: $gray-02;
            }
        }

        &.is-complete {
            .item--state {
                color: $green-01;
            }
        }

        &.is-unanswered {
            .item--state {
                color: $yellow-02;
            }
        }
    }
}

@media (max-width: 1024px) {
    .table-list {
        border-top: 1px solid $gray-02;

        &__item {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 8px;
            position: relative;
            padding: 14px 24px 14px 20px;

            &:before {
                content: "";
                position: absolute;
                top: 14px;
                right: 0;
                width: 24px;
                height: 24px;
                background-image: svgIcon(arrowRight, "000");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }

            &:last-child {
                border-bottom-color: $gray-07;
            }

            &--header {
                display: none;
            }

            .item {
                width: 100%;
                text-align: left;

                &--no {
                    display: none;
                }

                &--title {
                    grid-column: 2 span;
                    padding: 0;
                }

                &--writer {
                    grid-column: 1;
                    max-width: 200px;
                }

                &--date {
                    grid-column: 2;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .list {
        &__item {
            padding-right: 30%;
        }
    }
}
