@use "../abstracts/index" as *;

.sorting {
    &__menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0 auto;

        .btn {
            display: block;
            margin: 0;
            padding: 0 16px;
            flex-shrink: 0;
            font-size: 18px;
            font-weight: 600;
            line-height: 24px;
            color: $gray-01;

            + .btn {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: -1px;
                    transform: translateY(-50%);
                    width: 2px;
                    height: 16px;
                    background-color: $gray-01;
                }
            }

            &.is-active,
            &:hover {
                color: $red-01;
            }
        }
    }
}
