@use "../abstracts/index" as *;

.terms {
    &__header {
        display: flex;
        justify-content: space-between;

        &--title {
            @include font-style($font-size-24, $font-weight-bold, 29px);
            color: $black;
        }
    }

    &__item {
        margin-top: 48px;

        &--title {
            @include font-style($font-size-20, $font-weight-regular, 24px);
            color: $black;
        }

        &--desc {
            overflow-y: scroll;
            margin: 20px 0 18px;
            padding: 0 12px;
            height: 236px;
            border: 1px solid $gray-02;
        }
    }

    &__footer {
        margin: 80px 0 191px;

        .btn {
            &-group {
                justify-content: center;
                gap: 9px;
            }

            &:first-child {
                width: 112px;
                height: 54px;
            }

            &:last-child {
                width: 209px;
                height: 54px;
            }
        }
    }
}
