@use "../abstracts/index" as *;

.userInfo {
    &__header {
        &--title {
            @include font-style($font-size-24, $font-weight-bold, 29px);
            color: $black;
        }

        & + .userInfo__body {
            margin-top: 50px;
        }
    }

    &__item {
        & + .userInfo__item {
            margin-top: 40px;
        }

        &:nth-last-child(2) {
            display: flex;
            gap: 126px;
        }

        &:last-child {
            display: flex;
            gap: 84px;
        }

        .radio__toggle-wrap {
            display: flex;
            gap: 20px;
        }
    }

    &__body {
        max-width: 561px;

        .inputGroup {
            width: auto;

            &.is-disabled {
                .input-box {
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 5px;
                        height: 38px;
                        background-color: $gray-02;
                    }

                    &:has(#input--userId, #input--userName) {
                        .input {
                            @include font-style(
                                $font-size-18,
                                $font-weight-regular,
                                25px
                            );
                            color: rgba(0, 0, 0, 0.5);
                            background-color: transparent;
                            border: 0;
                        }
                    }
                }
            }
        }

        #input {
            &--userId {
                width: 168px;
            }

            &--userName {
                width: 168px;
            }

            &--phone {
                .input {
                    &:first-child {
                        width: 59px;
                    }

                    &:not(:first-child) {
                        width: 73px;
                    }
                }
            }

            &--email {
                width: 375px;
            }

            &--address {
                .btn {
                    &-group {
                        gap: 8px;

                        .input {
                            width: 168px;
                        }
                    }
                }

                .input {
                    width: 376px;
                }
            }
        }

        .input {
            &--radio-toggle {
                &label {
                    @include font-style(
                        $font-size-18,
                        $font-weight-regular,
                        25px
                    );
                    color: $black;
                }
            }
        }
    }

    &__footer {
        margin: 80px 0 191px;

        .btn {
            &-group {
                justify-content: center;
            }
        }
    }
}

@media (max-width: 768px) {
    .userInfo {
        &__item {
            &:nth-last-child(2) {
                flex-direction: column;
                gap: 16px;
            }

            &:last-child {
                flex-direction: column;
                gap: 16px;
            }
        }

        &__body {
            .inputGroup {
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;

                .input {
                    width: 100%;
                }
            }

            #input {
                &--email {
                    width: 100%;
                }

                &--address {
                    .input {
                        width: 100%;
                    }
                }
            }
        }
    }
}
